[server]
hostname = "{{ hostname }}"
node_ip = "127.0.0.1"
base_path = "https://$ref{server.hostname}:${carbon.management.port}"
offset = {{ port_offset }}
force_local_cache = true

[user_store]
type = "read_only_ldap"

[keystore.primary]
file_name = "repository/resources/security/wso2carbon.jks"
password = "stuller"
alias = "*.stuller.laf"
key_password = "wso2carbon"

[truststore]
file_name = "repository/resources/security/client-truststore.jks"
password = "stuller"
alias = "*.stuller.laf"
algorithm = "AES"

[[datasource]]
id = "WSO2_COORDINATION_DB"
url= "{{ wso2ei_db_url }}"
username="{{ wso2ei_db_username }}"
password="{{ wso2ei_db_password }}"
driver="{{ wso2ei_db_driver }}"
pool_options.maxActive=50
pool_options.maxWait = 60000
pool_options.testOnBorrow = true

[realm_manager]
data_source = "new_id"