[Unit]
Description=Apache ActiveMQ
After=network-online.target

[Service]
Type=forking
PIDFile={{product_dir}}/activemq/data/activemq.pid
WorkingDirectory={{product_dir}}/activemq/bin
ExecStart={{product_dir}}/activemq/bin/activemq start
ExecStop={{product_dir}}/activemq/bin/activemq stop
Restart=on-abort
User=root

[Install]
WantedBy=multi-user.target