[Unit]
Description=WSO2 EI
After=network.target

[Service]
ExecStart={{ micro_integrator_dashboard_home }}/bin/dashboard.sh start
ExecStop={{ micro_integrator_dashboard_home }}/bin/dashboard.sh stop
ExecRestart={{ micro_integrator_dashboard_home }}/bin/dashboard.sh restart
User={{ wso2_user }}
Group={{ wso2_group }}
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
